/* Fallback Mode Panel */
PanelWidget :backdrop,
PanelApplet :backdrop,
PanelToplevel :backdrop,
PanelWidget,
PanelApplet,
PanelToplevel {
    border-image: none;

    color: @dark_fg_color;
}

PanelWidget,
PanelApplet,
PanelToplevel {
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #004077),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #004077)
				    							);
}

PanelApplet {
    border-width: 0;
}

PanelSeparator:backdrop,
PanelSeparator {
    border-width: 0;
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #004077),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #004077)
				    							);

    color: @dark_fg_color;
}

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelApplet > GtkMenuBar.menubar.menuitem,
PanelMenuBar.menubar,
PanelMenuBar.menubar.menuitem {
    -PanelMenuBar-icon-visible: true;
    bbackground-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #004077),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #004077)
				    							);
}

PanelAppletFrame { 
    background-color: @dark_bg_color;
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #004077),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #004077)
				    							);
    border-width: 0;
}

PanelApplet .button:backdrop,
PanelApplet .button {
    -GtkButton-inner-border: 2;

    border-image: none;
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #004077),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #004077)
				    							);
    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.3);
    border-radius: 0;
    border-width: 0 1px 0 1px;

    color: @dark_fg_color;
    text-shadow: none;
}

PanelApplet .button:active:prelight:backdrop,
PanelApplet .button:active:prelight,
PanelApplet .button:active:backdrop,
PanelApplet .button:active {
    border-image: none;
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #004077),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #004077)
				    							); 
    border-color: shade (@dark_bg_color, 0.9);
}

PanelApplet .button:prelight:backdrop,
PanelApplet .button:prelight {
    border-image: none;
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #004077),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #004077)
				    							);
    border-color: alpha (shade (@dark_bg_color, 1.0), 0.6);
    border-left-color: alpha (shade (@dark_bg_color, 1.5), 0.4);
}

ClockBox {
    text-shadow: 0 -1px shade (@dark_bg_color, 0.6);
}

WnckPager, WnckTasklist {
    background-color: @dark_bg_color;
}
