.lightdm.menu {
    background-image: none;
    background-color: alpha (#919191, 0.6);
    border-color: alpha (#535353, 0.2);
    border-radius: 4px;
    padding: 1px;

    color: #535353;
}

.lightdm-combo .menu {
    background-color: shade (@dark_bg_color, 1.08);
    border-radius: 0px;
    padding: 0px;

    color: #535353;
}

.lightdm.menu .menuitem *,
.lightdm.menu .menuitem.check:active,
.lightdm.menu .menuitem.radio:active {
    color: #535353;
}

.lightdm.menubar {
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, #000000),
												color-stop(0.2, #000000),                                    
                                    color-stop(0.5, #262626),
                                    color-stop(0.8, #000000),
                                    color-stop(0.9, #000000),
				    							color-stop(1, #262626)
				    							);
    background-color: alpha (#919191, 0.5);
}

.lightdm-combo.combobox-entry .button,
.lightdm-combo .cell,
.lightdm-combo .button,
.lightdm-combo .entry,
.lightdm.button,
.lightdm.entry {
    background-image: none;
    background-color: alpha (#919191, 0.3);
    border-color: alpha (#535353, 0.6);
    border-radius: 5px;
    padding: 7px;

    color: #535353;
    text-shadow: none;
}

.lightdm.button,
.lightdm.button:hover,
.lightdm.button:active,
.lightdm.button:active:focused,
.lightdm.entry,
.lightdm.entry:hover,
.lightdm.entry:active,
.lightdm.entry:active:focused {
    background-image: none;
    border-image: none;
}

.lightdm.button:focused,
.lightdm.entry:focused {
    -unico-focus-border-color: alpha (#535353, 0.9);
    border-color: alpha (#535353, 0.9);
    border-width: 1px;
    border-style: solid;

    color: #535353;
}

.lightdm.entry:selected {
    background-color: alpha (#535353, 0.2);
}
